<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/rahulsingh/Desktop/MyComputer/Automation/SeleniumDocker/Selenium-Docker">
        <parameter name="noOfPassengers" value="1"/>
        <parameter name="expectedPrice" value="$584 USD" />
        <classes>
            <class name="com.rahulautodev.tests.flightreservation.FlightReservationTest"/>
        </classes>
    </test>
</suite>